body {
    background-color: #ffe1e1;
    font-family: Garamond, serif;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    background-color:  #E1FFFF;
}

.cook-image {
    width: 800px;
    height: auto;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.recipe-image {
    width: 500px;
    height: auto;  
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.all-content {
    max-width: 960px;
    margin: auto;
}

.recipe-container img {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    height: 150px;
}

.recipe-container img:hover {
    box-shadow: 0 0 5px 5px #E1FFFF;
}

.recipe-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.recipe-container .item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

